<div class="main">
  <main id="main">
    <h1>Zone des Académies de France</h1>
    <br />
    <div class="date dB">
      <div class="zone zB"><span>Zone B</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=aix-marseille&zone=Zone B"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Aix-Marseille
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=aix-marseille&zone=Zone B&department=alpes-de-haute-provence"
          class="noir"
        >
          Alpes-de-Haute-Provence </a
        >,
        <a
          href="/regions/year?of=2024&page=academie&region_name=aix-marseille&zone=Zone B&department=hautes-alpes"
          class="noir"
        >
          Hautes-Alpes </a
        >,
        <a
          href="/regions/year?of=2024&page=academie&region_name=aix-marseille&zone=Zone B&department=bouches-du-rhone"
          class="noir"
        >
          Bouches-du-Rhône </a
        >,
        <a
          href="/regions/year?of=2024&page=academie&region_name=aix-marseille&zone=Zone B&department=vaucluse"
          class="noir"
        >
          Vaucluse
        </a>
      </span>
    </div>

    <div class="date dB">
      <div class="zone zB"><span>Zone B</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=aix-marseille&zone=Zone B"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Aix-Marseille
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=aix-marseille&zone=Zone B&department=alpes-de-haute-provence"
          class="noir"
        >
          Alpes-de-Haute-Provence </a
        >,
        <a
          href="/regions/year?of=2024&page=academie&region_name=aix-marseille&zone=Zone B&department=hautes-alpes"
          class="noir"
        >
          Hautes-Alpes </a
        >,
        <a
          href="/regions/year?of=2024&page=academie&region_name=aix-marseille&zone=Zone B&department=bouches-du-rhone"
          class="noir"
        >
          Bouches-du-Rhône </a
        >,
        <a
          href="/regions/year?of=2024&page=academie&region_name=aix-marseille&zone=Zone B&department=vaucluse"
          class="noir"
        >
          Vaucluse
        </a>
      </span>
    </div>

    <div class="date dA">
      <div class="zone zA"><span>Zone A</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=besancon&zone=Zone A"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Besançon
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=besancon&zone=Zone A&department=doubs"
          class="noir"
        >
          Doubs </a
        >,
        <a
          href="/regions/year?of=2024&page=academie&region_name=besancon&zone=Zone A&department=jura"
          class="noir"
        >
          Jura </a
        >,
        <a
          href="/regions/year?of=2024&page=academie&region_name=besancon&zone=Zone A&department=haute-saone"
          class="noir"
        >
          Haute-Saône </a
        >,
        <a
          href="/regions/year?of=2024&page=academie&region_name=besancon&zone=Zone A&department=territoire-de-belfort"
          class="noir"
        >
          Territoire de Belfort
        </a>
      </span>
    </div>

    <div class="date dA">
      <div class="zone zA"><span>Zone A</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=bordeaux&zone=Zone A"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Bordeaux
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=bordeaux&zone=Zone A&department=dordogne"
          class="noir"
        >
          Dordogne </a
        >,
        <a
          href="/regions/year?of=2024&page=academie&region_name=bordeaux&zone=Zone A&department=gironde"
          class="noir"
        >
          Gironde </a
        >,
        <a
          href="/regions/year?of=2024&page=academie&region_name=bordeaux&zone=Zone A&department=landes"
          class="noir"
        >
          Landes </a
        >,
        <a
          href="/regions/year?of=2024&page=academie&region_name=bordeaux&zone=Zone A&department=lot-et-garonne"
          class="noir"
        >
          Lot-et-Garonne </a
        >,
        <a
          href="/regions/year?of=2024&page=academie&region_name=bordeaux&zone=Zone A&department=pyrenees-atlantiques"
          class="noir"
        >
          Pyrénées-Atlantiques
        </a>
      </span>
    </div>

    <div class="date dB">
      <div class="zone zB"><span>Zone B</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=caen&zone=Zone B"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Caen
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=caen&zone=Zone B&department=calvados"
          class="noir"
        >
          Calvados
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=caen&zone=Zone B&department=manche"
          class="noir"
        >
          Manche
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=caen&zone=Zone B&department=orne"
          class="noir"
        >
          Orne
        </a>
      </span>
    </div>
    

    <div class="date dA">
      <div class="zone zA"><span>Zone A</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=clermont-ferrand&zone=Zone A"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Clermont-Ferrand
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=clermont-ferrand&zone=Zone A&department=allier"
          class="noir"
        >
          Allier
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=clermont-ferrand&zone=Zone A&department=cantal"
          class="noir"
        >
          Cantal
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=clermont-ferrand&zone=Zone A&department=haute-loire"
          class="noir"
        >
          Haute-Loire
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=clermont-ferrand&zone=Zone A&department=puy-de-dome"
          class="noir"
        >
          Puy-de-Dôme
        </a>
      </span>
    </div>
    



    <div class="date dCorse">
      <div class="zone zCorse"><span>Corse</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=corse&zone=Corse"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Corse
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=corse&zone=Corse&department=corse-du-sud"
          class="noir"
        >
          Corse-du-sud
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=corse&zone=Corse&department=haute-corse"
          class="noir"
        >
          Haute-corse
        </a>
      </span>
    </div>
    



    <div class="date dC">
      <div class="zone zC"><span>Zone C</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=creteil&zone=Zone C"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Créteil
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=creteil&zone=Zone C&department=seine-et-marne"
          class="noir"
        >
          Seine-et-Marne
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=creteil&zone=Zone C&department=seine-saint-denis"
          class="noir"
        >
          Seine-Saint-Denis
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=creteil&zone=Zone C&department=val-de-marne"
          class="noir"
        >
          Val-de-Marne
        </a>
      </span>
    </div>
    


    <div class="date dA">
      <div class="zone zA"><span>Zone A</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=dijon&zone=Zone A"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Dijon
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=dijon&zone=Zone A&department=cote-d-or"
          class="noir"
        >
          Côte-d'or
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=dijon&zone=Zone A&department=nievre"
          class="noir"
        >
          Nièvre
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=dijon&zone=Zone A&department=saone-et-loire"
          class="noir"
        >
          Saône-et-Loire
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=dijon&zone=Zone A&department=yonne"
          class="noir"
        >
          Yonne
        </a>
      </span>
    </div>
    

    <div class="date dA">
      <div class="zone zA"><span>Zone A</span></div>
      <span class="lesdates" style="font-size: 12px"
        ><a href="/academie-grenoble/" class="b noir" style="font-size: 16px"
          >Académie de Grenoble</a
        ><br /><a href="/departement-ardeche/" class="noir">Ardèche</a>,
        <a href="/departement-drome/" class="noir">Drôme</a>,
        <a href="/departement-isere/" class="noir">Isère</a>,
        <a href="/departement-savoie/" class="noir">Savoie</a>,
        <a href="/departement-haute-savoie/" class="noir">Haute-Savoie</a></span
      >
    </div>

    <div class="date dCorse">
      <div class="zone zCorse"><span>Guadeloupe</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=guadeloupe&zone=Guadeloupe"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Guadeloupe
        </a>
      </span>
    </div>
    


    <div class="date dCorse">
      <div class="zone zCorse"><span>Guyane</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=guyane&zone=Guyane"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Guyane
        </a>
      </span>
    </div>
    


    <div class="date dB">
      <div class="zone zB"><span>Zone B</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=lille&zone=Zone B"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Lille
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=lille&zone=Zone B&department=nord"
          class="noir"
        >
          Nord
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=lille&zone=Zone B&department=pas-de-calais"
          class="noir"
        >
          Pas-de-Calais
        </a>
      </span>
    </div>
    

    <div class="date dA">
      <div class="zone zA"><span>Zone A</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=limoges&zone=Zone A"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Limoges
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=limoges&zone=Zone A&department=correze"
          class="noir"
        >
          Corrèze
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=limoges&zone=Zone A&department=creuse"
          class="noir"
        >
          Creuse
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=limoges&zone=Zone A&department=haute-vienne"
          class="noir"
        >
          Haute-Vienne
        </a>
      </span>
    </div>
    
    <div class="date dA">
      <div class="zone zA"><span>Zone A</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=lyon&zone=Zone A"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Lyon
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=lyon&zone=Zone A&department=ain"
          class="noir"
        >
          Ain
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=lyon&zone=Zone A&department=loire"
          class="noir"
        >
          Loire
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=lyon&zone=Zone A&department=rhone"
          class="noir"
        >
          Rhône
        </a>
      </span>
    </div>
    


    <div class="date dCorse">
      <div class="zone zCorse"><span>Martinique</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=martinique&zone=Martinique"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Martinique
        </a>
      </span>
    </div>
    


    <div class="date dCorse">
      <div class="zone zCorse"><span>Mayotte</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=mayotte&zone=Mayotte"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Mayotte
        </a>
      </span>
    </div>
    


    <div class="date dC">
      <div class="zone zC"><span>Zone C</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=montpellier&zone=Zone C"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Montpellier
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=montpellier&zone=Zone C&department=aude"
          class="noir"
        >
          Aude
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=montpellier&zone=Zone C&department=gard"
          class="noir"
        >
          Gard
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=montpellier&zone=Zone C&department=herault"
          class="noir"
        >
          Hérault
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=montpellier&zone=Zone C&department=lozere"
          class="noir"
        >
          Lozère
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=montpellier&zone=Zone C&department=pyrenees-orientales"
          class="noir"
        >
          Pyrénées-Orientales
        </a>
      </span>
    </div>
    

    <div class="date dB">
      <div class="zone zB"><span>Zone B</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=nancy-metz&zone=Zone B"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Nancy-Metz
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=nancy-metz&zone=Zone B&department=meurthe-et-moselle"
          class="noir"
        >
          Meurthe-et-Moselle
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=nancy-metz&zone=Zone B&department=meuse"
          class="noir"
        >
          Meuse
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=nancy-metz&zone=Zone B&department=moselle"
          class="noir"
        >
          Moselle
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=nancy-metz&zone=Zone B&department=vosges"
          class="noir"
        >
          Vosges
        </a>
      </span>
    </div>
    
    <div class="date dB">
      <div class="zone zB"><span>Zone B</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=nantes&zone=Zone B"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Nantes
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=nantes&zone=Zone B&department=loire-atlantique"
          class="noir"
        >
          Loire-Atlantique
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=nantes&zone=Zone B&department=maine-et-loire"
          class="noir"
        >
          Maine-et-Loire
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=nantes&zone=Zone B&department=mayenne"
          class="noir"
        >
          Mayenne
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=nantes&zone=Zone B&department=sarthe"
          class="noir"
        >
          Sarthe
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=nantes&zone=Zone B&department=vendee"
          class="noir"
        >
          Vendée
        </a>
      </span>
    </div>
    

    <div class="date dB">
      <div class="zone zB"><span>Zone B</span></div>
      <span class="lesdates" style="font-size: 12px"
        ><a href="/academie-nice/" class="b noir" style="font-size: 16px"
          >Académie de Nice</a
        ><br /><a href="/departement-alpes-maritimes/" class="noir"
          >Alpes-Maritimes</a
        >, <a href="/departement-var/" class="noir">Var</a></span
      >
    </div>

    <div class="date dB">
      <div class="zone zB"><span>Zone B</span></div>
      <span class="lesdates" style="font-size: 12px"
        ><a
          href="/academie-orleans-tours/"
          class="b noir"
          style="font-size: 16px"
          >Académie de Orléans-Tours</a
        ><br /><a href="/departement-cher/" class="noir">Cher</a>,
        <a href="/departement-eure-et-loir/" class="noir">Eure-et-Loir</a>,
        <a href="/departement-indre/" class="noir">Indre</a>,
        <a href="/departement-indre-et-loire/" class="noir">Indre-et-Loire</a>,
        <a href="/departement-loir-et-cher/" class="noir">Loir-et-Cher</a>,
        <a href="/departement-loiret/" class="noir">Loiret</a></span
      >
    </div>

    <div class="date dC">
      <div class="zone zC"><span>Zone C</span></div>
      <span class="lesdates" style="font-size: 12px"
        ><a href="/academie-paris/" class="b noir" style="font-size: 16px"
          >Académie de Paris</a
        ></span
      >
    </div>

    <div class="date dA">
      <div class="zone zA"><span>Zone A</span></div>
      <span class="lesdates" style="font-size: 12px"
        ><a href="/academie-poitiers/" class="b noir" style="font-size: 16px"
          >Académie de Poitiers</a
        ><br /><a href="/departement-charente/" class="noir">Charente</a>,
        <a href="/departement-charente-maritime/" class="noir"
          >Charente-Maritime</a
        >, <a href="/departement-deux-sevres/" class="noir">Deux-Sèvres</a>,
        <a href="/departement-vienne/" class="noir">Vienne</a></span
      >
    </div>

    <div class="date dB">
      <div class="zone zB"><span>Zone B</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=reims&zone=Zone B"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Reims
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=reims&zone=Zone B&department=ardennes"
          class="noir"
        >
          Ardennes
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=reims&zone=Zone B&department=aube"
          class="noir"
        >
          Aube
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=reims&zone=Zone B&department=marne"
          class="noir"
        >
          Marne
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=reims&zone=Zone B&department=haute-marne"
          class="noir"
        >
          Haute-Marne
        </a>
      </span>
    </div>
    


    <div class="date dB">
      <div class="zone zB"><span>Zone B</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=rennes&zone=Zone B"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Rennes
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=rennes&zone=Zone B&department=cotes-d-armor"
          class="noir"
        >
          Côtes-d'armor
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=rennes&zone=Zone B&department=finistere"
          class="noir"
        >
          Finistère
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=rennes&zone=Zone B&department=ille-et-vilaine"
          class="noir"
        >
          Ille-et-Vilaine
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=rennes&zone=Zone B&department=morbihan"
          class="noir"
        >
          Morbihan
        </a>
      </span>
    </div>
    


    <div class="date dB">
      <div class="zone zB"><span>Zone B</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=rouen&zone=Zone B"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Rouen
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=rouen&zone=Zone B&department=eure"
          class="noir"
        >
          Eure
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=rouen&zone=Zone B&department=seine-maritime"
          class="noir"
        >
          Seine-Maritime
        </a>
      </span>
    </div>
    

    <div class="date dCorse">
      <div class="zone zCorse"><span>Réunion</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=reunion&zone=Réunion"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Réunion
        </a>
      </span>
    </div>
    
    <div class="date dB">
      <div class="zone zB"><span>Zone B</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=strasbourg&zone=Zone B"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Strasbourg
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=strasbourg&zone=Zone B&department=bas-rhin"
          class="noir"
        >
          Bas-Rhin
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=strasbourg&zone=Zone B&department=haut-rhin"
          class="noir"
        >
          Haut-Rhin
        </a>
      </span>
    </div>
    


    <div class="date dC">
      <div class="zone zC"><span>Zone C</span></div>
      <span class="lesdates" style="font-size: 12px"
        ><a href="/academie-toulouse/" class="b noir" style="font-size: 16px"
          >Académie de Toulouse</a
        ><br /><a href="/departement-ariege/" class="noir">Ariège</a>,
        <a href="/departement-aveyron/" class="noir">Aveyron</a>,
        <a href="/departement-haute-garonne/" class="noir">Haute-Garonne</a>,
        <a href="/departement-gers/" class="noir">Gers</a>,
        <a href="/departement-lot/" class="noir">Lot</a>,
        <a href="/departement-hautes-pyrenees/" class="noir">Hautes-Pyrénées</a
        >, <a href="/departement-tarn/" class="noir">Tarn</a>,
        <a href="/departement-tarn-et-garonne/" class="noir"
          >Tarn-et-Garonne</a
        ></span
      >
    </div>
    <div class="date dC">
      <div class="zone zC"><span>Zone C</span></div>
      <span class="lesdates" style="font-size: 12px">
        <a
          href="/regions/year?of=2024&page=academie&region_name=versailles&zone=Zone C"
          class="b noir"
          style="font-size: 16px"
        >
          Académie de Versailles
        </a>
        <br />
        <a
          href="/regions/year?of=2024&page=academie&region_name=versailles&zone=Zone C&department=yvelines"
          class="noir"
        >
          Yvelines
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=versailles&zone=Zone C&department=essonne"
          class="noir"
        >
          Essonne
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=versailles&zone=Zone C&department=hauts-de-seine"
          class="noir"
        >
          Hauts-de-Seine
        </a>,
        <a
          href="/regions/year?of=2024&page=academie&region_name=versailles&zone=Zone C&department=val-d-oise"
          class="noir"
        >
          Val-d'oise
        </a>
      </span>
    </div>
      
  </main>
</div>
