<div style="height: 80vh; display: flex; justify-content: center; align-items: center; text-align: center; flex-direction: column; background-color: #f9f9f9; font-family: Arial, sans-serif; color: #333;">
    <h1 style="font-size: 3rem; margin-bottom: 20px;">Nous n'avons pas trouvé les résultats que vous recherchez</h1>
</div>
