<div style="height: 80vh; display: flex; justify-content: center; align-items: center; text-align: center; flex-direction: column;">
    <h1>404 - La page que vous recherchez n'existe pas ou a été déplacée.</h1>
</div>
