<div class="main">
  <main id="main">
    <h1><%= t('regions_zone_france') %></h1>
    <br />
    <div class="date dA">
      <div class="zone zA"><span>Zone A</span></div>
      <span class="lesdates" style="font-size: 12px"
        ><a
          href="/regions/year?of=2024&region_name=auvergne-rhone-alpes&zone=Zone A"
          class="b noir"
          style="font-size: 16px"
          >Région Auvergne-Rhône-Alpes</a
        ><br />
        <a href="/regions/year?of=2024&region_name=auvergne-rhone-alpes&zone=Zone A&department=ain" class="noir">Ain</a>,
        <a href="/regions/year?of=2024&region_name=auvergne-rhone-alpes&zone=Zone A&department=allier" class="noir">Allier</a>,
        <a href="/regions/year?of=2024&region_name=auvergne-rhone-alpes&zone=Zone A&department=ardeche" class="noir">Ardèche</a>,
        <a href="/regions/year?of=2024&region_name=auvergne-rhone-alpes&zone=Zone A&department=cantal" class="noir">Cantal</a>,
        <a href="/regions/year?of=2024&region_name=auvergne-rhone-alpes&zone=Zone A&department=drome" class="noir">Drôme</a>,
        <a href="/regions/year?of=2024&region_name=auvergne-rhone-alpes&zone=Zone A&department=isere" class="noir">Isère</a>,
        <a href="/regions/year?of=2024&region_name=auvergne-rhone-alpes&zone=Zone A&department=loire" class="noir">Loire</a>,
        <a href="/regions/year?of=2024&region_name=auvergne-rhone-alpes&zone=Zone A&department=haute-loire" class="noir">Haute-Loire</a>,
        <a href="/regions/year?of=2024&region_name=auvergne-rhone-alpes&zone=Zone A&department=puy-de-dome" class="noir">Puy-de-Dôme</a>,
        <a href="/regions/year?of=2024&region_name=auvergne-rhone-alpes&zone=Zone A&department=rhone" class="noir">Rhône</a>,
        <a href="/regions/year?of=2024&region_name=auvergne-rhone-alpes&zone=Zone A&department=savoie" class="noir">Savoie</a>,
        <a href="/regions/year?of=2024&region_name=auvergne-rhone-alpes&zone=Zone A&department=haute-savoie" class="noir">Haute-Savoie</a>
        </span
      >
    </div>
    <div class="date dA">
        <div class="zone zA"><span>Zone A</span></div>
        <span class="lesdates" style="font-size: 12px">
          <a
            href="/regions/year?of=2024&region_name=bourgogne-franche-comte&zone=Zone A"
            class="b noir"
            style="font-size: 16px"
          >
            Région Bourgogne-Franche-Comté
          </a>
          <br />
          <a
            href="/regions/year?of=2024&region_name=bourgogne-franche-comte&zone=Zone A&department=cote-d-or"
            class="noir"
          >
            Côte-d'or
          </a>,
          <a
            href="/regions/year?of=2024&region_name=bourgogne-franche-comte&zone=Zone A&department=doubs"
            class="noir"
          >
            Doubs
          </a>,
          <a
            href="/regions/year?of=2024&region_name=bourgogne-franche-comte&zone=Zone A&department=jura"
            class="noir"
          >
            Jura
          </a>,
          <a
            href="/regions/year?of=2024&region_name=bourgogne-franche-comte&zone=Zone A&department=nievre"
            class="noir"
          >
            Nièvre
          </a>,
          <a
            href="/regions/year?of=2024&region_name=bourgogne-franche-comte&zone=Zone A&department=haute-saone"
            class="noir"
          >
            Haute-Saône
          </a>,
          <a
            href="/regions/year?of=2024&region_name=bourgogne-franche-comte&zone=Zone A&department=saone-et-loire"
            class="noir"
          >
            Saône-et-Loire
          </a>,
          <a
            href="/regions/year?of=2024&region_name=bourgogne-franche-comte&zone=Zone A&department=yonne"
            class="noir"
          >
            Yonne
          </a>,
          <a
            href="/regions/year?of=2024&region_name=bourgogne-franche-comte&zone=Zone A&department=territoire-de-belfort"
            class="noir"
          >
            Territoire de Belfort
          </a>
        </span>
      </div>
      
      <div class="date dB">
        <div class="zone zB"><span>Zone B</span></div>
        <span class="lesdates" style="font-size: 12px">
          <a
            href="/regions/year?of=2024&region_name=bretagne&zone=Zone B"
            class="b noir"
            style="font-size: 16px"
          >
            Région Bretagne
          </a>
          <br />
          <a
            href="/regions/year?of=2024&region_name=bretagne&zone=Zone B&department=cotes-d-armor"
            class="noir"
          >
            Côtes-d'armor
          </a>,
          <a
            href="/regions/year?of=2024&region_name=bretagne&zone=Zone B&department=finistere"
            class="noir"
          >
            Finistère
          </a>,
          <a
            href="/regions/year?of=2024&region_name=bretagne&zone=Zone B&department=ille-et-vilaine"
            class="noir"
          >
            Ille-et-Vilaine
          </a>,
          <a
            href="/regions/year?of=2024&region_name=bretagne&zone=Zone B&department=morbihan"
            class="noir"
          >
            Morbihan
          </a>
        </span>
      </div>
      

      <div class="date dB">
        <div class="zone zB"><span>Zone B</span></div>
        <span class="lesdates" style="font-size: 12px">
          <a
            href="/regions/year?of=2024&region_name=centre-val-de-loire&zone=Zone B"
            class="b noir"
            style="font-size: 16px"
          >
            Région Centre-Val de Loire
          </a>
          <br />
          <a
            href="/regions/year?of=2024&region_name=centre-val-de-loire&zone=Zone B&department=cher"
            class="noir"
          >
            Cher
          </a>,
          <a
            href="/regions/year?of=2024&region_name=centre-val-de-loire&zone=Zone B&department=eure-et-loir"
            class="noir"
          >
            Eure-et-Loir
          </a>,
          <a
            href="/regions/year?of=2024&region_name=centre-val-de-loire&zone=Zone B&department=indre"
            class="noir"
          >
            Indre
          </a>,
          <a
            href="/regions/year?of=2024&region_name=centre-val-de-loire&zone=Zone B&department=indre-et-loire"
            class="noir"
          >
            Indre-et-Loire
          </a>,
          <a
            href="/regions/year?of=2024&region_name=centre-val-de-loire&zone=Zone B&department=loir-et-cher"
            class="noir"
          >
            Loir-et-Cher
          </a>,
          <a
            href="/regions/year?of=2024&region_name=centre-val-de-loire&zone=Zone B&department=loiret"
            class="noir"
          >
            Loiret
          </a>
        </span>
      </div>
      


      <div class="date dCorse">
        <div class="zone zCorse"><span>Corse</span></div>
        <span class="lesdates" style="font-size: 12px">
          <a
            href="/regions/year?of=2024&region_name=corse&zone=Corse"
            class="b noir"
            style="font-size: 16px"
          >
            Région Corse
          </a>
          <br />
          <a
            href="/regions/year?of=2024&region_name=corse&zone=Corse&department=corse-du-sud"
            class="noir"
          >
            Corse-du-sud
          </a>,
          <a
            href="/regions/year?of=2024&region_name=corse&zone=Corse&department=haute-corse"
            class="noir"
          >
            Haute-corse
          </a>
        </span>
      </div>
      

      <div class="date dB">
        <div class="zone zB"><span>Zone B</span></div>
        <span class="lesdates" style="font-size: 12px">
          <a
            href="/regions/year?of=2024&region_name=grand-est&zone=Zone B"
            class="b noir"
            style="font-size: 16px"
          >
            Région Grand Est
          </a>
          <br />
          <a
            href="/regions/year?of=2024&region_name=grand-est&zone=Zone B&department=ardennes"
            class="noir"
          >
            Ardennes
          </a>,
          <a
            href="/regions/year?of=2024&region_name=grand-est&zone=Zone B&department=aube"
            class="noir"
          >
            Aube
          </a>,
          <a
            href="/regions/year?of=2024&region_name=grand-est&zone=Zone B&department=marne"
            class="noir"
          >
            Marne
          </a>,
          <a
            href="/regions/year?of=2024&region_name=grand-est&zone=Zone B&department=haute-marne"
            class="noir"
          >
            Haute-Marne
          </a>,
          <a
            href="/regions/year?of=2024&region_name=grand-est&zone=Zone B&department=meurthe-et-moselle"
            class="noir"
          >
            Meurthe-et-Moselle
          </a>,
          <a
            href="/regions/year?of=2024&region_name=grand-est&zone=Zone B&department=meuse"
            class="noir"
          >
            Meuse
          </a>,
          <a
            href="/regions/year?of=2024&region_name=grand-est&zone=Zone B&department=moselle"
            class="noir"
          >
            Moselle
          </a>,
          <a
            href="/regions/year?of=2024&region_name=grand-est&zone=Zone B&department=bas-rhin"
            class="noir"
          >
            Bas-Rhin
          </a>,
          <a
            href="/regions/year?of=2024&region_name=grand-est&zone=Zone B&department=haut-rhin"
            class="noir"
          >
            Haut-Rhin
          </a>,
          <a
            href="/regions/year?of=2024&region_name=grand-est&zone=Zone B&department=vosges"
            class="noir"
          >
            Vosges
          </a>
        </span>
      </div>
      


      <div class="date dB">
        <div class="zone zB"><span>Zone B</span></div>
        <span class="lesdates" style="font-size: 12px">
          <a
            href="/regions/year?of=2024&region_name=hauts-de-france&zone=Zone B"
            class="b noir"
            style="font-size: 16px"
          >
            Région Hauts-de-France
          </a>
          <br />
          <a
            href="/regions/year?of=2024&region_name=hauts-de-france&zone=Zone B&department=aisne"
            class="noir"
          >
            Aisne
          </a>,
          <a
            href="/regions/year?of=2024&region_name=hauts-de-france&zone=Zone B&department=nord"
            class="noir"
          >
            Nord
          </a>,
          <a
            href="/regions/year?of=2024&region_name=hauts-de-france&zone=Zone B&department=oise"
            class="noir"
          >
            Oise
          </a>,
          <a
            href="/regions/year?of=2024&region_name=hauts-de-france&zone=Zone B&department=pas-de-calais"
            class="noir"
          >
            Pas-de-Calais
          </a>,
          <a
            href="/regions/year?of=2024&region_name=hauts-de-france&zone=Zone B&department=somme"
            class="noir"
          >
            Somme
          </a>
        </span>
      </div>
      


      <div class="date dB">
        <div class="zone zB"><span>Zone B</span></div>
        <span class="lesdates" style="font-size: 12px">
          <a
            href="/regions/year?of=2024&region_name=normandie&zone=Zone B"
            class="b noir"
            style="font-size: 16px"
          >
            Région Normandie
          </a>
          <br />
          <a
            href="/regions/year?of=2024&region_name=normandie&zone=Zone B&department=calvados"
            class="noir"
          >
            Calvados
          </a>,
          <a
            href="/regions/year?of=2024&region_name=normandie&zone=Zone B&department=eure"
            class="noir"
          >
            Eure
          </a>,
          <a
            href="/regions/year?of=2024&region_name=normandie&zone=Zone B&department=manche"
            class="noir"
          >
            Manche
          </a>,
          <a
            href="/regions/year?of=2024&region_name=normandie&zone=Zone B&department=orne"
            class="noir"
          >
            Orne
          </a>,
          <a
            href="/regions/year?of=2024&region_name=normandie&zone=Zone B&department=seine-maritime"
            class="noir"
          >
            Seine-Maritime
          </a>
        </span>
      </div>
      


      <div class="date dA">
        <div class="zone zA"><span>Zone A</span></div>
        <span class="lesdates" style="font-size: 12px">
          <a
            href="/regions/year?of=2024&region_name=nouvelle-aquitaine&zone=Zone A"
            class="b noir"
            style="font-size: 16px"
          >
            Région Nouvelle-Aquitaine
          </a>
          <br />
          <a
            href="/regions/year?of=2024&region_name=nouvelle-aquitaine&zone=Zone A&department=charente"
            class="noir"
          >
            Charente
          </a>,
          <a
            href="/regions/year?of=2024&region_name=nouvelle-aquitaine&zone=Zone A&department=charente-maritime"
            class="noir"
          >
            Charente-Maritime
          </a>,
          <a
            href="/regions/year?of=2024&region_name=nouvelle-aquitaine&zone=Zone A&department=correze"
            class="noir"
          >
            Corrèze
          </a>,
          <a
            href="/regions/year?of=2024&region_name=nouvelle-aquitaine&zone=Zone A&department=creuse"
            class="noir"
          >
            Creuse
          </a>,
          <a
            href="/regions/year?of=2024&region_name=nouvelle-aquitaine&zone=Zone A&department=dordogne"
            class="noir"
          >
            Dordogne
          </a>,
          <a
            href="/regions/year?of=2024&region_name=nouvelle-aquitaine&zone=Zone A&department=gironde"
            class="noir"
          >
            Gironde
          </a>,
          <a
            href="/regions/year?of=2024&region_name=nouvelle-aquitaine&zone=Zone A&department=landes"
            class="noir"
          >
            Landes
          </a>,
          <a
            href="/regions/year?of=2024&region_name=nouvelle-aquitaine&zone=Zone A&department=lot-et-garonne"
            class="noir"
          >
            Lot-et-Garonne
          </a>,
          <a
            href="/regions/year?of=2024&region_name=nouvelle-aquitaine&zone=Zone A&department=pyrenees-atlantiques"
            class="noir"
          >
            Pyrénées-Atlantiques
          </a>,
          <a
            href="/regions/year?of=2024&region_name=nouvelle-aquitaine&zone=Zone A&department=deux-sevres"
            class="noir"
          >
            Deux-Sèvres
          </a>,
          <a
            href="/regions/year?of=2024&region_name=nouvelle-aquitaine&zone=Zone A&department=vienne"
            class="noir"
          >
            Vienne
          </a>,
          <a
            href="/regions/year?of=2024&region_name=nouvelle-aquitaine&zone=Zone A&department=haute-vienne"
            class="noir"
          >
            Haute-Vienne
          </a>
        </span>
      </div>
      


      <div class="date dC">
        <div class="zone zC"><span>Zone C</span></div>
        <span class="lesdates" style="font-size: 12px">
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C"
            class="b noir"
            style="font-size: 16px"
          >
            Région Occitanie
          </a>
          <br />
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C&department=ariege"
            class="noir"
          >
            Ariège
          </a>,
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C&department=aude"
            class="noir"
          >
            Aude
          </a>,
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C&department=aveyron"
            class="noir"
          >
            Aveyron
          </a>,
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C&department=gard"
            class="noir"
          >
            Gard
          </a>,
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C&department=haute-garonne"
            class="noir"
          >
            Haute-Garonne
          </a>,
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C&department=gers"
            class="noir"
          >
            Gers
          </a>,
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C&department=herault"
            class="noir"
          >
            Hérault
          </a>,
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C&department=lot"
            class="noir"
          >
            Lot
          </a>,
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C&department=lozere"
            class="noir"
          >
            Lozère
          </a>,
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C&department=hautes-pyrenees"
            class="noir"
          >
            Hautes-Pyrénées
          </a>,
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C&department=pyrenees-orientales"
            class="noir"
          >
            Pyrénées-Orientales
          </a>,
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C&department=tarn"
            class="noir"
          >
            Tarn
          </a>,
          <a
            href="/regions/year?of=2024&region_name=occitanie&zone=Zone C&department=tarn-et-garonne"
            class="noir"
          >
            Tarn-et-Garonne
          </a>
        </span>
      </div>
      


      <div class="date dB">
        <div class="zone zB"><span>Zone B</span></div>
        <span class="lesdates" style="font-size: 12px">
          <a
            href="/regions/year?of=2024&region_name=pays-de-la-loire&zone=Zone B"
            class="b noir"
            style="font-size: 16px"
          >
            Région Pays de la Loire
          </a>
          <br />
          <a
            href="/regions/year?of=2024&region_name=pays-de-la-loire&zone=Zone B&department=loire-atlantique"
            class="noir"
          >
            Loire-Atlantique
          </a>,
          <a
            href="/regions/year?of=2024&region_name=pays-de-la-loire&zone=Zone B&department=maine-et-loire"
            class="noir"
          >
            Maine-et-Loire
          </a>,
          <a
            href="/regions/year?of=2024&region_name=pays-de-la-loire&zone=Zone B&department=mayenne"
            class="noir"
          >
            Mayenne
          </a>,
          <a
            href="/regions/year?of=2024&region_name=pays-de-la-loire&zone=Zone B&department=sarthe"
            class="noir"
          >
            Sarthe
          </a>,
          <a
            href="/regions/year?of=2024&region_name=pays-de-la-loire&zone=Zone B&department=vendee"
            class="noir"
          >
            Vendée
          </a>
        </span>
      </div>
      
    
      <div class="date dB">
        <div class="zone zB"><span>Zone B</span></div>
        <span class="lesdates" style="font-size: 12px">
          <a
            href="/regions/year?of=2024&region_name=provence-alpes-cote-d-azur&zone=Zone B"
            class="b noir"
            style="font-size: 16px"
          >
            Région Provence-Alpes-Côte d'Azur
          </a>
          <br />
          <a
            href="/regions/year?of=2024&region_name=provence-alpes-cote-d-azur&zone=Zone B&department=alpes-de-haute-provence"
            class="noir"
          >
            Alpes-de-Haute-Provence
          </a>,
          <a
            href="/regions/year?of=2024&region_name=provence-alpes-cote-d-azur&zone=Zone B&department=hautes-alpes"
            class="noir"
          >
            Hautes-Alpes
          </a>,
          <a
            href="/regions/year?of=2024&region_name=provence-alpes-cote-d-azur&zone=Zone B&department=alpes-maritimes"
            class="noir"
          >
            Alpes-Maritimes
          </a>,
          <a
            href="/regions/year?of=2024&region_name=provence-alpes-cote-d-azur&zone=Zone B&department=bouches-du-rhone"
            class="noir"
          >
            Bouches-du-Rhône
          </a>,
          <a
            href="/regions/year?of=2024&region_name=provence-alpes-cote-d-azur&zone=Zone B&department=var"
            class="noir"
          >
            Var
          </a>,
          <a
            href="/regions/year?of=2024&region_name=provence-alpes-cote-d-azur&zone=Zone B&department=vaucluse"
            class="noir"
          >
            Vaucluse
          </a>
        </span>
      </div>
      

      <div class="date dC">
        <div class="zone zC"><span>Zone C</span></div>
        <span class="lesdates" style="font-size: 12px">
          <a
            href="/regions/year?of=2024&region_name=ile-de-france&zone=Zone C"
            class="b noir"
            style="font-size: 16px"
          >
            Région Île-de-France
          </a>
          <br />
          <a
            href="/regions/year?of=2024&region_name=ile-de-france&zone=Zone C&department=paris"
            class="noir"
          >
            Paris
          </a>,
          <a
            href="/regions/year?of=2024&region_name=ile-de-france&zone=Zone C&department=seine-et-marne"
            class="noir"
          >
            Seine-et-Marne
          </a>,
          <a
            href="/regions/year?of=2024&region_name=ile-de-france&zone=Zone C&department=yvelines"
            class="noir"
          >
            Yvelines
          </a>,
          <a
            href="/regions/year?of=2024&region_name=ile-de-france&zone=Zone C&department=essonne"
            class="noir"
          >
            Essonne
          </a>,
          <a
            href="/regions/year?of=2024&region_name=ile-de-france&zone=Zone C&department=hauts-de-seine"
            class="noir"
          >
            Hauts-de-Seine
          </a>,
          <a
            href="/regions/year?of=2024&region_name=ile-de-france&zone=Zone C&department=seine-saint-denis"
            class="noir"
          >
            Seine-Saint-Denis
          </a>,
          <a
            href="/regions/year?of=2024&region_name=ile-de-france&zone=Zone C&department=val-de-marne"
            class="noir"
          >
            Val-de-Marne
          </a>,
          <a
            href="/regions/year?of=2024&region_name=ile-de-france&zone=Zone C&department=val-d-oise"
            class="noir"
          >
            Val-d'Oise
          </a>
        </span>
      </div>
      
  </main>
</div>
