<div>
  <h1><%= t('map_school_holiday_zones') %></h1>
  <div class="bloc"><%= t('map_holiday_zones_abc') %></div>
  <img
    src="/images/france-vacances-scolaires1.png"
    alt="Nouvelle carte des vacances scolaires"
    class="imgCarte logo"
    usemap="#Map"
  />
  <map name="Map" id="Map">
    <area
      alt="Académie de Montpellier"
      href="/regions/year?of=2024&page=academie&region_name=montpellier&zone=Zone A"
      shape="poly"
      coords="320,647,323,640,327,576,413,535,390,485,398,466,400,469,405,463,412,461,417,473,422,471,423,468,426,469,426,471,430,471,438,480,444,496,448,508,458,512,466,508,466,511,468,512,470,508,481,515,484,526,491,533,482,543,480,556,473,554,470,561,471,564,456,574,452,571,452,567,445,567,431,579,425,580,419,589,410,588,397,602,394,614,393,644,398,646,401,651,395,653,392,649,382,650,379,653,372,655,373,659,363,659,355,652,344,652,336,658,333,653,330,649,325,646"
    />
    <area
      alt="Académie de Paris"
      href="/regions/year?of=2024&page=academie&region_name=paris&zone=Zone A"
      shape="poly"
      coords="368,153,353,177,357,185,379,190,389,179"
    />

    <area
      alt="Académie de Toulouse"
      href="/regions/year?of=2024&page=academie&region_name=toulouse&zone=Zone A"
      shape="poly"
      coords="324,641,328,577,414,535,392,486,378,465,362,486,347,484,341,461,328,465,315,457,308,459,284,493,287,503,282,507,279,505,277,509,279,515,265,530,261,527,232,535,231,541,228,534,217,537,215,561,222,563,225,574,228,582,226,585,215,598,213,604,209,619,222,630,234,626,241,633,260,629,263,618,291,631,298,629,305,639,310,635,320,638"
    />
    <area
      alt="Académie de Bordeaux"
      href="/regions/year?of=2024&page=academie&region_name=bordeaux&zone=Zone A"
      shape="poly"
      coords="208,619,194,622,184,609,173,607,157,600,157,595,153,595,150,601,145,597,151,584,142,580,139,583,136,580,128,574,137,572,149,555,163,487,175,414,192,437,195,433,230,446,267,406,309,456,305,459,307,468,294,480,284,491,287,506,277,506,277,511,278,521,264,529,232,533,231,539,226,533,216,537,213,561,221,563,228,581,215,596,210,605"
    />

    <area
      alt="Académie d'Aix-Marseille"
      href="/regions/year?of=2024&page=academie&region_name=aix-marseille&zone=Zone A"
      shape="poly"
      coords="538,595,533,555,597,540,611,513,607,509,601,501,604,497,599,491,607,477,610,479,608,475,607,465,599,465,591,461,591,453,587,454,585,448,579,448,577,451,571,450,565,447,563,455,567,455,570,464,564,467,555,471,551,471,547,476,544,476,541,479,543,481,538,483,535,483,531,491,535,494,531,497,526,495,524,505,533,509,535,514,537,521,532,518,526,523,520,517,511,517,508,516,509,510,501,512,500,510,503,505,498,501,494,504,493,511,497,510,498,513,490,516,489,512,483,509,481,514,484,518,486,527,492,533,482,544,480,558,474,557,470,562,471,565,460,575,476,574,479,581,493,582,491,576,499,576,505,583,514,582,517,580,522,589,520,592,523,594,529,591"
    />
    <area
      alt="Académie de Nice"
      href="/regions/year?of=2024&page=academie&region_name=nice&zone=Zone A"
      shape="poly"
      coords="538,593,533,556,597,539,611,512,628,519,644,515,647,521,643,529,637,539,639,545,619,554,617,563,608,564,605,573,598,573,590,584,593,584,593,592,588,591,579,597,577,599,573,597,567,600,567,605,562,600,559,601,551,597,552,602,549,603,546,602,546,597"
    />

    <area
      alt="Académie de Grenoble"
      href="/regions/year?of=2024&page=academie&region_name=grenoble&zone=Zone A"
      shape="poly"
      coords="439,477,507,403,552,401,561,366,565,360,559,355,565,349,571,349,574,346,589,345,588,352,592,358,590,368,595,370,594,376,597,374,602,384,599,390,592,390,593,401,601,406,602,415,613,424,610,429,611,434,578,448,576,450,571,448,569,445,564,445,563,454,568,456,571,464,557,468,543,476,539,482,534,482,531,492,535,494,531,497,523,494,524,504,533,510,535,518,531,519,523,522,519,516,509,514,507,508,500,509,503,504,497,498,493,503,493,510,497,512,491,515,486,508,481,509,479,511,471,508,469,512,466,508,462,510,459,514,451,509,443,490,440,486"
    />
    <area
      alt="Académie de Lyon"
      href="/regions/year?of=2024&page=academie&region_name=lyon&zone=Zone A"
      shape="poly"
      coords="560,365,552,401,507,403,471,442,441,423,428,386,437,362,441,368,461,368,465,361,480,360,481,369,484,369,492,343,498,346,504,344,520,360,529,356,532,359,541,361,550,349,555,352,551,361,546,363,546,368,545,370,552,368,555,368"
    />

    <area
      alt="Académie de Clermont-Ferrand"
      href="/regions/year?of=2024&page=academie&region_name=clermont-ferrand&zone=Zone A"
      shape="poly"
      coords="438,476,471,441,441,424,427,386,437,363,443,359,443,347,431,342,423,325,416,332,403,331,393,325,388,324,382,329,378,330,371,336,371,342,359,345,353,351,358,359,365,366,369,379,371,385,367,392,362,398,366,407,363,414,366,418,366,430,358,428,349,443,348,450,344,460,349,486,362,485,377,464,383,469,386,474,390,485,398,466,401,468,410,460,417,472,424,467,431,472"
    />
    <area
      alt="Académie de Limoges"
      href="/regions/year?of=2024&page=academie&region_name=limoges&zone=Zone A"
      shape="poly"
      coords="266,404,308,455,317,455,326,463,333,460,345,459,342,454,349,446,348,442,356,434,357,428,363,431,364,414,364,404,359,397,370,385,367,369,356,358,353,351,342,352,329,350,314,353,294,353"
    />

    <area
      alt="Académie de Poitiers"
      href="/regions/year?of=2024&page=academie&region_name=poitiers&zone=Zone A"
      shape="poly"
      coords="194,432,168,403,160,376,170,381,173,389,178,376,172,367,175,357,185,353,206,353,192,308,237,296,252,312,267,310,296,353,266,406,229,446"
    />
    <area
      alt="Académie de Nantes"
      href="/regions/year?of=2024&page=academie&region_name=nantes&zone=Zone A"
      shape="poly"
      coords="175,356,141,340,124,311,134,299,108,274,112,265,130,263,132,253,164,241,173,244,188,228,186,190,229,191,240,202,257,197,259,206,281,219,285,221,280,228,281,237,266,258,257,258,249,258,240,293,206,298,192,303,204,352,185,350"
    />

    <!--  -->

    <area
      alt="Académie d'Orléans-Tours"
      href="/regions/year?of=2024&page=academie&region_name=orleans-tours&zone=Zone A"
      shape="poly"
      coords="316,160,321,180,330,195,338,202,338,212,358,208,365,217,362,224,387,222,397,232,390,242,392,249,384,252,390,266,382,267,384,283,393,324,379,330,369,336,370,344,352,352,297,354,282,337,282,328,269,307,253,312,252,302,238,292,250,262,269,250,280,232,281,216,278,208,287,200,288,192,281,182,295,174,307,172,312,167"
    />
    <area
      alt="Académie de Dijon"
      href="/regions/year?of=2024&page=academie&region_name=dijon&zone=Zone A"
      shape="poly"
      coords="393,325,416,334,422,327,430,345,441,349,442,360,437,363,439,369,462,370,464,364,479,363,481,371,490,346,509,348,512,261,490,257,488,251,491,248,481,232,469,232,468,236,436,240,428,221,421,220,421,215,410,205,393,209,392,217,387,223,397,236,393,241,392,251,384,253,389,265,384,267,387,279,382,284,388,289,390,304,394,307"
    />
    <!--  -->
    <area
      alt="Académie de Besançon"
      href="/regions/year?of=2024&page=academie&region_name=besancon&zone=Zone A"
      shape="poly"
      coords="510,348,512,260,521,255,527,256,527,245,538,234,549,230,552,235,561,233,566,238,573,235,596,249,594,259,597,259,602,266,593,264,589,277,595,276,599,278,594,283,585,296,572,308,568,318,569,324,555,336,551,350,541,361,532,361,527,354,520,362"
    />
    <area
      alt="Académie de Strasbourg"
      href="/regions/year?of=2024&page=academie&region_name=strasbourg&zone=Zone A"
      shape="poly"
      coords="585,242,605,171,586,160,590,147,610,156,620,147,649,151,645,163,630,180,628,205,622,222,624,228,621,249,624,256,614,268,609,270,602,265,595,255,594,247"
    />
    <!--  -->
    <area
      alt="Académie de Nancy-Metz"
      href="/regions/year?of=2024&page=academie&region_name=nancy-metz&zone=Zone A"
      shape="poly"
      coords="508,111,485,173,536,236,546,228,552,235,564,233,565,238,573,235,586,243,604,171,584,162,590,148,612,156,619,146,612,143,611,138,601,143,590,143,589,140,580,136,578,140,572,140,566,124,549,117,538,119,513,117"
    />
    <area
      alt="Académie de Reims"
      href="/regions/year?of=2024&page=academie&region_name=reims&zone=Zone A"
      shape="poly"
      coords="535,235,484,171,506,114,506,109,484,96,483,71,479,69,471,80,449,86,451,102,443,111,442,131,436,127,424,133,428,146,420,154,416,170,412,175,416,183,419,186,411,203,422,215,425,222,437,237,466,234,472,227,491,247,490,254,505,263,514,258,526,255,526,243"
    />
    <!--  -->
    <area
      alt="Académie de Créteil"
      href="/regions/year?of=2024&page=academie&region_name=creteil&zone=Zone A"
      shape="poly"
      coords="368,152,388,179,379,190,379,207,367,217,364,224,388,222,393,214,392,207,410,204,418,188,413,171,397,150"
    />
    <area
      alt="Académie de Versailles"
      href="/regions/year?of=2024&page=academie&region_name=versailles&zone=Zone A"
      shape="poly"
      coords="369,152,350,176,355,185,377,190,378,205,367,218,356,210,340,212,338,204,320,183,314,155,326,141,345,143,369,149"
    />
    <area
      alt="Académie de Rennes"
      href="/regions/year?of=2024&page=academie&region_name=rennes&zone=Zone A"
      shape="poly"
      coords="186,191,188,228,182,231,174,244,166,240,154,250,132,253,126,264,112,266,18,231,0,212,3,173,90,156,105,181,126,174,147,171,162,179,169,193,179,187"
    />
    <!--  -->
    <area
      alt="Académie de Caen"
      href="/regions/year?of=2024&page=academie&region_name=caen&zone=Zone A"
      shape="poly"
      coords="148,96,165,180,171,192,178,186,227,188,239,202,257,195,278,219,280,207,289,200,282,180,262,157,256,122,231,131,185,123,182,100"
    />
    <area
      alt="Académie de Rouen"
      href="/regions/year?of=2024&page=academie&region_name=rouen&zone=Zone A"
      shape="poly"
      coords="280,180,308,175,314,154,322,151,327,142,330,96,316,76,293,87,252,102,249,117,257,123,261,156"
    />
    <area
      alt="Académie d'Amiens"
      href="/regions/year?of=2024&page=academie&region_name=amiens&zone=Zone A"
      shape="poly"
      coords="313,77,329,102,329,142,396,151,413,170,423,158,423,134,435,129,441,132,449,86,322,54"
    />
    <area
      alt="Académie de Lille"
      href="/regions/year?of=2024&page=academie&region_name=lille&zone=Zone A"
      shape="poly"
      coords="320,54,447,85,450,63,370,2,321,17"
    />
  </map>
  <img src="/images/france-vacances-scolaires2.png" class="imgCarte" />
  <!-- Corse and Overseas -->
  <div class="dateTitre">
    <span><%= t('corsica_calendar') %></span>
  </div>
  <div class="date ddAutre">
    <span class="lesdates b f20">
      <a
        href="/zones/corse-year-2024"
        class="noir"
        title="vacances scolaires Corse"
        >Corse</a
      >
    </span>
  </div>
  <div class="date ddAutre">
    <span class="lesdates b f20"
      ><a
        href="/zones/guadeloupe-year-2025"
        class="noir"
        title="vacances scolaires Guadeloupe"
        >Guadeloupe</a
      ></span
    >
  </div>
  <div class="date ddAutre">
    <span class="lesdates b f20"
      ><a
        href="/zones/guyane-year-2024"
        class="noir"
        title="vacances scolaires Guyane"
        >Guyane</a
      ></span
    >
  </div>
  <div class="date ddAutre">
    <span class="lesdates b f20"
      ><a
        href="/zones/martinique-year-2024"
        class="noir"
        title="vacances scolaires Martinique"
        >Martinique</a
      ></span
    >
  </div>
  <div class="date ddAutre">
    <span class="lesdates b f20"
      ><a
        href="/zones/mayotte-year-2024"
        class="noir"
        title="vacances scolaires Mayotte"
        >Mayotte</a
      ></span
    >
  </div>
  <div class="date ddAutre">
    <span class="lesdates b f20"
      ><a
        href="/zones/reunion-year-2024"
        class="noir"
        title="vacances scolaires Réunion"
        >Réunion</a
      ></span
    >
  </div>

  <!-- List of Academies -->
  <div class="dateTitre">
    <span><%= t('academies_by_zone') %></span>
  </div>
  <div class="date dA">
    <div class="zone zA"><span>Zone A</span></div>
    <span class="lesdates">
      <a href="/academie/besancon-year-2024" class="noir">Besançon</a>,
      <a href="/academie/bordeaux-year-2024" class="noir">Bordeaux</a>,
      <a href="/academie/clermont-ferrand-year-2024" class="noir"
        >Clermont-Ferrand</a
      >, <a href="/academie/dijon-year-2024" class="noir">Dijon</a>,
      <a href="/academie/grenoble-year-2024" class="noir">Grenoble</a>,
      <a href="/academie/limoges-year-2024" class="noir">Limoges</a>,
      <a href="/academie/lyon-year-2024" class="noir">Lyon</a>,
      <a href="/academie/poitiers-year-2024" class="noir">Poitiers</a>
    </span>
  </div>
  <div class="date dB">
    <div class="zone zB"><span>Zone B</span></div>
    <span class="lesdates">
      <a href="/academie/aix-marseille-year-2024" class="noir">Aix-Marseille</a
      >, <a href="/academie/amiens-year-2024" class="noir">Amiens</a>,
      <a href="/academie/caen-year-2024" class="noir">Caen</a>,
      <a href="/academie/lille-year-2024" class="noir">Lille</a>,
      <a href="/academie/nancy-metz-year-2024" class="noir">Nancy-Metz</a>,
      <a href="/academie/nantes-year-2024" class="noir">Nantes</a>,
      <a href="/academie/nice-year-2024" class="noir">Nice</a>,
      <a href="/academie/orleans-tours-year-2024" class="noir">Orléans-Tours</a
      >, <a href="/academie/reims-year-2024" class="noir">Reims</a>,
      <a href="/academie/rennes-year-2024" class="noir">Rennes</a>,
      <a href="/academie/rouen-year-2024" class="noir">Rouen</a>,
      <a href="/academie/strasbourg-year-2024" class="noir">Strasbourg</a>
    </span>
  </div>
  <div class="date dC">
    <div class="zone zC"><span>Zone C</span></div>
    <span class="lesdates">
      <a href="/academie/creteil-year-2024" class="noir">Créteil</a>,
      <a href="/academie/montpellier-year-2024" class="noir">Montpellier</a>,
      <a href="/academie/paris-year-2024" class="noir">Paris</a>,
      <a href="/academie/toulouse-year-2024" class="noir">Toulouse</a>,
      <a href="/academie/versailles-year-2024" class="noir">Versailles</a>
    </span>
  </div>
  <div class="date dCorse">
    <div class="zone zCorse"><span>Corse</span></div>
    <span class="lesdates"
      ><a href="/academie/corse-year-2024" class="noir">Corse</a></span
    >
  </div>
</div>
